.popup {
  position: fixed;
  height: 100%;
  background: #0d0d0d;
  opacity: 0;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 7;
  visibility: hidden;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 380px) {
  .popup {
    width: 100%;
  }
}
