.horse__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 117%;

  text-align: center;
  color: #363434;
  margin: 25px 67px;
}
@media screen and (max-width: 1400px) {
  .horse__subtitle {
    font-size: 15px;
    line-height: 100%;

    margin: 15px 28px;
  }
}
