.header__img-horse {
  position: absolute;
  max-width: 557px;

  left: calc(1004% / (1920 / 100));
  bottom: 96px;
  width: 28%;
}
@media screen and (max-width: 580px) {
  .header__img-horse {
    width: 35%;
  }
}
@media screen and (max-width: 480px) {
  .header__img-horse {
    width: 45%;
    left: calc(700% / (1920 / 100));
  }
}
