.about__card-subtitle {
  max-width: 275px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 147%;
  color: #0b0b0b;
  margin: 0;
}
@media screen and (max-width: 1000px) {
  .about__card-subtitle {
    font-size: 15px;
    line-height: 167%;
  }
}

@media screen and (max-width: 480px) {
  .about__card-subtitle {
    margin-top: 10px;
  }
}
