.contact__img-vector {
  width: 63px;

  margin-left: calc(317% / (1920 / 100));
}
@media screen and (max-width: 1200px) {
  .contact__img-vector {
    margin-left: calc(500% / (1920 / 100));
  }
}
@media screen and (max-width: 800px) {
  .contact__img-vector {
    margin-left: calc(600% / (1920 / 100));
  }
}
@media screen and (max-width: 646px) {
  .contact__img-vector {
    margin-left: 0;
    margin-bottom: 129px;
    margin-top: 150px;
  }
}
@media screen and (max-width: 395px) {
  .contact__img-vector {
    margin-left: 0;
    margin-bottom: 79px;
    margin-top: 100px;
  }
}
