.why__card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 115%;

  text-align: center;

  color: black;
  margin-bottom: 26px;
}
@media screen and (max-width: 1000px) {
  .why__card-title {
    font-size: 15px;
    line-height: 167%;
  }
}
@media screen and (max-width: 480px) {
  .why__card-title {
    font-size: 14px;
    line-height: 100%;
  }
}
