.club__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;

  text-align: center;

  color: #363434;
  margin: 0;
  margin-bottom: 65px;
}
@media screen and (max-width: 768px) {
  .club__subtitle {
    margin-bottom: 35px;
    font-size: 13px;
    line-height: 15px;
  }
}
