.horse__title {
  font-family: "Philosopher", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 90%;

  color: #363434;
  margin-bottom: 95px;
  margin-top: 0;
}
@media screen and (max-width: 1000px) {
  .horse__title {
    font-size: 30px;
    line-height: 120%;
  }
}
@media screen and (max-width: 768px) {
  .horse__title {
    font-size: 27px;
    line-height: 100%;
  }
}
@media screen and (max-width: 320px) {
  .horse__title {
    font-size: 21px;
  }
}
