.horse__title {
  font-family: "Philosopher", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 90%;

  color: #363434;
  margin-bottom: 95px;
  margin-top: 0;
}
