.question__form {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  width: 100%;
  align-items: center;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  margin-right: calc(375% / (1920 / 100));
  margin-top: -72px;
  z-index: 2;
}
@media screen and (max-width: 1280px) {
  .question__form {
    margin-right: calc(40% / (1920 / 100));
  }
}
@media screen and (max-width: 870px) {
  .question__form {
    margin-right: 0;
  }
}
@media screen and (max-width: 540px) {
  .question__form {
    max-width: 400px;
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .question__form {
    max-width: 300px;
    width: 100%;
  }
}
