.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(376% / (1920 / 100));
  margin-right: calc(376% / (1920 / 100));
  padding-top: 24px;
  margin-bottom: 26px;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .footer__container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 820px) {
  .footer__container {
    flex-direction: column-reverse;
  }
}
