.comments__title {
  font-family: "Philosopher", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 90%;

  text-align: center;

  color: #000000;
  margin-top: 170px;
  margin-bottom: 70px;
}
@media screen and (max-width: 1000px) {
  .comments__title {
    font-size: 30px;
    line-height: 120%;
    margin-top: 120px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .comments__title {
    font-size: 27px;
  }
}
@media screen and (max-width: 340px) {
  .comments__title {
    font-size: 21px;
    line-height: 100%;
  }
}
