.header__img-cloud {
  margin-bottom: 90px;
  z-index: 3;
}
@media screen and (max-width: 1677px) {
  .header__img-cloud {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .header__img-cloud {
    max-width: 1000px;
    width: 100%;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 900px) {
  .header__img-cloud {
    margin-bottom: 72px;
    width: 200%;
  }
}
@media screen and (max-width: 768px) {
  .header__img-cloud {
    margin-bottom: 62px;
  }
}
@media screen and (max-width: 580px) {
  .header__img-cloud {
    margin-bottom: 66px;
  }
}
@media screen and (max-width: 470px) {
  .header__img-cloud {
    margin-bottom: 76px;
  }
}
