.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #202020;
  margin-right: 20px;
}
.header__link:last-child {
  margin-right: 0;
}
