.header__button {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 213%;
  display: flex;
  align-items: center;
  cursor: pointer;

  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #6a5300;
  margin-left: calc(375% / (1920 / 100));
  padding: 21px 71px;
  margin-bottom: 189px;
  background: linear-gradient(180deg, #eeff7e 0%, #f5e506e2 100%);
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px rgb(39, 34, 34);
  transition: all ease-in 1s;
  opacity: 0.95;
}
.header__button:hover {
  opacity: 1;
  background: linear-gradient(180deg, #b2ce38 6%, #e8c31fe2 94%);
}
@media screen and (max-width: 1420px) {
  .header__button {
    margin-left: calc(150% / (1920 / 100));
  }
}
@media screen and (max-width: 1000px) {
  .header__button {
    margin-left: 20px;
    padding: 21px 50px;
  }
}
@media screen and (max-width: 768px) {
  .header__button {
    margin-left: 0px;
  }
}
@media screen and (max-width: 480px) {
  .header__button {
    margin-left: 0px;
    padding: 17px 44px;
  }
}
