.contact__title {
  font-family: "Philosopher", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 90%;

  color: #000000;
  margin: 50px 270px 30px 70px;
}
@media screen and (max-width: 800px) {
  .contact__title {
    margin: 40px 198px 20px 40px;
  }
}
