.question__radio-label {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;

  color: #8a8a8a;
}
@media screen and (max-width: 440px) {
  .question__radio-label {
    font-size: 13px;
    line-height: 15px;
  }
}
