.visitors__container {
  display: grid;
  grid-template-columns:
    minmax(200px, 470px) minmax(200px, 321px) minmax(200px, 369px)
    minmax(200px, 420px) minmax(200px, 320px);
  grid-template-rows: 1fr;
  column-gap: 5px;
  margin-bottom: 3px;
}
.visitors__container:last-child {
  grid-template-columns:
    minmax(200px, 321px) minmax(200px, 369px) minmax(200px, 470px)
    minmax(200px, 321px) minmax(200px, 419px);
  margin-bottom: 250px;
}
