@import url(../vendors/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__contact-container/header__contact-container.css);
@import url(../blocks/header/__contact-img/header__contact-img.css);
@import url(../blocks/header/__contact-phone/header__contact-phone.css);
@import url(../blocks/header/__contact-time/header__contact-time.css);
@import url(../blocks/header/__contact/header__contact.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__info/header__info.css);
@import url(../blocks/header/__img-cloud/header__img-cloud.css);
@import url(../blocks/header/__img-barn/header__img-barn.css);
@import url(../blocks/header/__img-birds/header__img-birds.css);
@import url(../blocks/header/__img-bush/header__img-bush.css);
@import url(../blocks/header/__img-bushtwo/header__img-bushtwo.css);
@import url(../blocks/header/__img-horse/header__img-horse.css);
@import url(../blocks/header/__img-horsetwo/header__img-horsetwo.css);
@import url(../blocks/header/__img-trees/header__img-trees.css);
@import url(../blocks/main/main.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__card-subtitle/about__card-subtitle.css);
@import url(../blocks/about/__card-title/about__card-title.css);
@import url(../blocks/about/__card/about__card.css);
@import url(../blocks/about/__container/about__container.css);
@import url(../blocks/about/__img/about__img.css);
@import url(../blocks/about/__info/about__info.css);
@import url(../blocks/about/__paragraph/about__paragraph.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__info-container/about__info-container.css);
@import url(../blocks/about/__container-two/about__container-two.css);
@import url(../blocks/why/why.css);
@import url(../blocks/why/__card-subtitle/why__card-subtitle.css);
@import url(../blocks/why/__card-title/why__card-title.css);
@import url(../blocks/why/__card/why__card.css);
@import url(../blocks/why/__cards/why__cards.css);
@import url(../blocks/why/__img/why__img.css);
@import url(../blocks/why/__subtitle/why__subtitle.css);
@import url(../blocks/why/__title/why__title.css);
@import url(../blocks/club/club.css);
@import url(../blocks/club/__card-subtitle/club__card-subtitle.css);
@import url(../blocks/club/__card-title/club__card-title.css);
@import url(../blocks/club/__card/club__card.css);
@import url(../blocks/club/__cards/club__cards.css);
@import url(../blocks/club/__img/club__img.css);
@import url(../blocks/club/__line/club__line.css);
@import url(../blocks/club/__subtitle/club__subtitle.css);
@import url(../blocks/club/__title/club__title.css);
@import url(../blocks/club/__container/club__container.css);
@import url(../blocks/club/__button/club__button.css);
@import url(../blocks/visitors/visitors.css);
@import url(../blocks/visitors/__container/visitors__container.css);
@import url(../blocks/visitors/__img/visitors__img.css);
@import url(../blocks/visitors/__title/visitors__title.css);
@import url(../blocks/horse/horse.css);
@import url(../blocks/horse/__card/horse__card.css);
@import url(../blocks/horse/__cards/horse__cards.css);
@import url(../blocks/horse/__img/horse__img.css);
@import url(../blocks/horse/__line/horse__line.css);
@import url(../blocks/horse/__paragraph/horse__paragraph.css);
@import url(../blocks/horse/__subtitle/horse__subtitle.css);
@import url(../blocks/horse/__title/horse__title.css);
@import url(../blocks/question/question.css);
@import url(../blocks/question/__form/question__form.css);
@import url(../blocks/question/__name/question__name.css);
@import url(../blocks/question/__number/question__number.css);
@import url(../blocks/question/__radio-label/question__radio-label.css);
@import url(../blocks/question/__radio/question__radio.css);
@import url(../blocks/question/__submit/question__submit.css);
@import url(../blocks/question/__subtitle/question__subtitle.css);
@import url(../blocks/question/__title/question__title.css);
@import url(../blocks/question/__form-container/question__form-container.css);
@import url(../blocks/question/__cloud/question__cloud.css);

@import url(../blocks/question/__container/question__container.css);
@import url(../blocks/question/__img-girl/question__img-girl.css);
@import url(../blocks/question/__img-tree/question__img-tree.css);
@import url(../blocks/question/__cloud-two/question__cloud-two.css);
@import url(../blocks/comments/comments.css);
@import url(../blocks/comments/__bar/comments__bar.css);
@import url(../blocks/comments/__button/comments__button.css);
@import url(../blocks/comments/__card/comments__card.css);
@import url(../blocks/comments/__cards/comments__cards.css);
@import url(../blocks/comments/__img/comments__img.css);
@import url(../blocks/comments/__info/comments__info.css);
@import url(../blocks/comments/__link-img/comments__link-img.css);
@import url(../blocks/comments/__link/comments__link.css);
@import url(../blocks/comments/__links/comments__links.css);
@import url(../blocks/comments/__paragraph/comments__paragraph.css);
@import url(../blocks/comments/__subtitle/comments__subtitle.css);
@import url(../blocks/comments/__vector/comments__vector.css);
@import url(../blocks/comments/__title/comments__title.css);
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__card/contact__card.css);
@import url(../blocks/contact/__img/contact__img.css);
@import url(../blocks/contact/__line/contact__line.css);
@import url(../blocks/contact/__list/contact__list.css);
@import url(../blocks/contact/__subtitle/contact__subtitle.css);
@import url(../blocks/contact/__title/contact__title.css);
