.horse__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;

  text-align: center;

  color: #7e7e7e;
  margin: 25px 45px 45px;
}
@media screen and (max-width: 1400px) {
  .horse__paragraph {
    font-size: 12px;
    line-height: 150%;
    margin: 15px 16px 31px;
  }
}
