.contact {
  background-image: url(../../images/contactbg.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 646px) {
  .contact {
    flex-direction: column-reverse;
    align-items: center;
  }
}
