.header__contact-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .header__contact-phone {
    font-size: 14px;
    line-height: 114%;
  }
}
