.header__title {
  font-family: "Philosopher", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 107%;
  max-width: 613px;

  color: #000000;
  margin-left: calc(375% / (1920 / 100));

  margin-top: calc(99% / (1920 / 100));
  margin-bottom: 0;
}
