.club__card-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  text-align: center;
  color: #7e7e7e;
  margin: 25px 45px 45px;
}
@media screen and (max-width: 1700px) {
  .club__card-subtitle {
    margin: 11px 25px 45px;
  }
}

@media screen and (max-width: 1200px) {
  .club__card-subtitle {
    font-size: 13px;
    line-height: 154%;
    margin-bottom: 25px;
  }
}
