.club__card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 117%;

  text-align: center;
  color: #363434;
  margin-left: 67px;
  margin-right: 67px;
  margin-top: 45px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1700px) {
  .club__card-title {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .club__card-title {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 22px;

    font-size: 15px;
    line-height: 167%;
  }
}
@media screen and (max-width: 1000px) {
  .club__card-title {
    font-size: 15px;
    line-height: 167%;
  }
}
@media screen and (max-width: 480px) {
  .club__card-title {
    font-size: 13px;
    line-height: 192%;
  }
}
