.question__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;

  text-align: center;

  color: #7e7e7e;
  margin: 0 50px 30px;
}
@media screen and (max-width: 768px) {
  .question__subtitle {
    font-size: 13px;
    line-height: 162%;
    margin: 0 40px 30px;
  }
}
@media screen and (max-width: 480px) {
  .question__subtitle {
    font-size: 13px;
    line-height: 162%;
    margin: 0 10px 30px;
  }
}
