.contact__card {
  max-width: 521px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;

  margin-left: calc(375% / (1920 / 100));
}
@media screen and (max-width: 1200px) {
  .contact__card {
    max-width: 500px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 800px) {
  .contact__card {
    max-width: 354px;
  }
}
@media screen and (max-width: 646px) {
  .contact__card {
    margin-left: 0;
  }
}
@media screen and (max-width: 395px) {
  .contact__card {
    max-width: 300px;
  }
}
