.question__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 870px) {
  .question__container {
    justify-content: center;
    align-items: center;
    margin-bottom: 370px;
  }
}
@media screen and (max-width: 470px) {
  .question__container {
    margin-bottom: 230px;
  }
}
