.question__submit {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 213%;

  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #6a5300;
  cursor: pointer;

  max-width: 332px;
  width: 100%;
  padding: 21px 71px;

  background: linear-gradient(180deg, #eeff7e 0%, #f5e506e2 100%);
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px rgb(39, 34, 34);
  margin: 0 0 30px;
}
.question__submit:hover {
  background: linear-gradient(180deg, #b2ce38 6%, #e8c31fe2 94%);
}
@media screen and (max-width: 440px) {
  .question__submit {
    font-size: 10px;
    line-height: 10px;
    max-width: 225px;
    width: 100%;
  }
}
