.comments__card {
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  max-width: 570px;
  width: 100%;
}
.comments__card:nth-of-type(1) {
  margin-left: -222px;
  margin-top: -40px;
  margin-bottom: 40px;
  opacity: 0.4;
}
.comments__card:nth-of-type(4) {
  margin-right: -222px;
  margin-top: -40px;
  margin-bottom: 40px;
  opacity: 0.4;
}
